<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					{{#properties}}
						{{#name}}{{{.}}}{{/name}} 
						<small>{{#headline}}{{{.}}}{{/headline}}</small>
						<a target="_blank" class="btn btn-danger pull-right hidden-xs" href="http://www.google.com/webmasters/tools/richsnippets?q=www.paradax.com{{#url}}{{{.}}}{{/url}} " title="Google microdata inspector">Show microdata</a>
					{{/properties}}
				</h1>
			</div>
		</div>
	</div><!-- /.container -->
</div>